@{
    ViewBag.Title = "forgotpassword";
}
<!-- InstanceBeginEditable name="Content" -->
<script src="@Url.Content("~/content/scripts/jquery.validate.min.js")" language="javascript" type="text/javascript" ></script>
<script type="text/javascript" language="javascript">
    var email = "@WBSSLStore.Resources.ErrorMessage.Message.EmailRequired";
    $(document).ready(function () {
        $("#frmpassword").validate({
            rules: {
                txtEmailAddress: "required"
            },
            messages: {
                txtEmailAddress: email
            }
        });
    });
</script>
<h1>
   @* Forgot Password*@</h1>
@using (Html.BeginForm("forgotpassword", "staticpage", FormMethod.Post, new { id = "frmpassword" }))
{
    <table width="600" border="0" cellpadding="0" cellspacing="0" class="bottomdashedmargin">
        @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Message)))
        {
            <tr>
                <td colspan="3" height="30">
                    @Html.Raw(ViewBag.Message)
                </td>
            </tr>
        }
        <tr>
            <td width="101" height="30" align="left" class="text">
                <strong>@*Email*@@WBSSLStore.Resources.GeneralMessage.Message.Email_Caption: <span class="redtext">*</span></strong>
            </td>
            <td width="14" align="right">
                &nbsp;
            </td>
            <td width="485" class="text">
                <input type="text" id="txtEmailAddress" name="txtEmailAddress" value="" size="30"
                    class="in200px" />
            </td>
        </tr>
        <tr>
            <td align="right" valign="top" class="text">
                &nbsp;
            </td>
            <td align="right">
                &nbsp;
            </td>
            <td class="text">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td height="30" align="right" class="text">
                &nbsp;
            </td>
            <td align="right">
                &nbsp;
            </td>
            <td class="text">
                <input type="submit" value="@WBSSLStore.Resources.GeneralMessage.Message.RequestPassword_btn" class="button" id="btnsubmit" name="btnsubmit" />
            </td>
        </tr>
    </table>
}
<!-- InstanceEndEditable -->
