@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@section sitecss{

}
@section Jscripts{
}

@Html.Partial("_banner", new Tuple<string, string>("", "Privacy Policy"))
<div class="content">
    <div class="wrapper">
        <div class="column3">
            <div class="mobtopcol">
                <div class="column3-2">
                    <div class="aboutwrap marzerotop">
                        <div class="aboutcontext">
                            <h2>Privacy Policy</h2>
                            <h3>Our commitment to your privacy</h3>
                            <p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available as a link on the bottom of every page on the site.</p>

                            <p></p>   <h3>The information we collect</h3>
                            <p>This notice applies to all information collected or submitted on the website. We may collect personal information about you, but the type of personal information collected is for delivery and billing purpose only.</p>
                            <p></p>     <h3>Cookies</h3>
                            <p>We may use cookies to avoid fraud transactions and to collect statistics to make your browsing experience better.</p>
                            <p></p>     <h3>The way we use information</h3>
                            <p>We do not share this information with outside parties except to the extent necessary to inform service providers about services for which you have expressed an interest and requested additional information regarding that service. We use return email addresses to answer the email we receive for tech support, customer service, refer-a-friend, email updates and to send registered users their passwords. Such addresses are not used for any other purpose and are not shared with outside parties. Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</p>
                            <p></p>     <h3>Our commitment to data security</h3>
                            <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
                            <p></p>     <h3>How you can access or correct your information</h3>
                            <p>At any time, you may review or update the personal information we have collected online from you by Login into your account. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p>
                            <p></p>    <h3>Change in policy</h3>
                            <p>Our policies may be changed from time to time without any prior notification.</p>
                            <p></p>    <h3>How to contact us</h3>
                            <p>Should you have other questions or concerns about these privacy policies, please send us an email at support.</p>




                        </div>
                    </div>

                </div>
                @Html.Partial("_rightpanel", (Model != null && !string.IsNullOrEmpty(Model.CurrentUserName) ? Model.CurrentUserName : ""))
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
