@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@section sitecss{

}
@section Jscripts{
}

@Html.Partial("_banner", new Tuple<string, string>("", "Refund Policy"))
<div class="content">
    <div class="wrapper">
        <div class="column3">
            <div class="mobtopcol">
                <div class="column3-2">
                    <div class="aboutwrap marzerotop">
                        <div class="aboutcontext">
                            <h2>Who are we?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum quis enim et iaculis. In ultrices ex quis risus ultrices, quis commodo sem congue. Nam malesuada bibendum dolor, in euismod neque venenatis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada ultrices venenatis. </p>
                            <p>Etiam vulputate sodales velit, at finibus elit lobortis at. Duis ut purus eget risus dapibus pretium vitae in quam. Donec elementum cursus blandit. Curabitur aliquet quam a nisl pellentesque rhoncus. Sed lacus elit, tincidunt nec semper eget, vehicula ac neque. Nulla commodo nibh eget nisl luctus, in sollicitudin ligula maximus. Sed gravida sem neque. </p>
                            <p>Sed faucibus congue elit, a imperdiet nisl. Phasellus eget sapien egestas, ornare erat laoreet, ullamcorper erat. Aliquam elementum dui eros, quis auctor ante facilisis sed.</p>
                            <p>Nam scelerisque nec ex sit amet porta. Nam urna eros, volutpat condimentum nisl ac, accumsan hendrerit ex. Etiam ante magna, vehicula nec ante sit amet, interdum convallis magna. Vivamus ultrices, metus eu auctor gravida, velit nulla tempus augue, eu semper magna quam id nisi. Nulla ut efficitur nunc, laoreet sodales felis. </p>
                            <p>Phasellus vel volutpat enim, et eleifend nisl. Aliquam lacinia leo tellus, auctor lobortis ex porta ut. Etiam purus libero, volutpat ut consequat nec, blandit nec orci. Nam vehicula convallis eros, at bibendum ex venenatis ultricies. Aliquam tincidunt, justo non condimentum tempor, neque orci hendrerit quam, id posuere diam justo ut eros.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum quis enim et iaculis. In ultrices ex quis risus ultrices, quis commodo sem congue. Nam malesuada bibendum dolor, in euismod neque venenatis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada ultrices venenatis. </p>
                            <p>Etiam vulputate sodales velit, at finibus elit lobortis at. Duis ut purus eget risus dapibus pretium vitae in quam. Donec elementum cursus blandit. Curabitur aliquet quam a nisl pellentesque rhoncus. Sed lacus elit, tincidunt nec semper eget, vehicula ac neque. Nulla commodo nibh eget nisl luctus, in sollicitudin ligula maximus. Sed gravida sem neque. </p>
                            <p>Sed faucibus congue elit, a imperdiet nisl. Phasellus eget sapien egestas, ornare erat laoreet, ullamcorper erat. Aliquam elementum dui eros, quis auctor ante facilisis sed.</p>
                            <p>Nam scelerisque nec ex sit amet porta. Nam urna eros, volutpat condimentum nisl ac, accumsan hendrerit ex. Etiam ante magna, vehicula nec ante sit amet, interdum convallis magna. Vivamus ultrices, metus eu auctor gravida, velit nulla tempus augue, eu semper magna quam id nisi. Nulla ut efficitur nunc, laoreet sodales felis. </p>
                            <p class="mrgbotnone">Phasellus vel volutpat enim, et eleifend nisl. Aliquam lacinia leo tellus, auctor lobortis ex porta ut. Etiam purus libero, volutpat ut consequat nec, blandit nec orci. Nam vehicula convallis eros, at bibendum ex venenatis ultricies. Aliquam tincidunt, justo non condimentum tempor, neque orci hendrerit quam, id posuere diam justo ut eros.</p>
                        </div>
                    </div>
                    
                </div>
                @Html.Partial("_rightpanel", (Model != null && !string.IsNullOrEmpty(Model.CurrentUserName) ? Model.CurrentUserName : ""))
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
