@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
    ViewBag.version = WBSSLStore.Web.Helpers.Caching.SiteCacher.ResourceVersion();
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@section sitecss{

}
@section Jscripts{
}

@Html.Partial("_banner", new Tuple<string, string>("", "Refund Policy"))
<div class="content">
    <div class="wrapper">
        <div class="column3">
            <div class="mobtopcol">
                <div class="column3-2">
                    <div class="aboutwrap marzerotop">
                        <div class="aboutcontext">
                            <h2>Refund Policy</h2>
                            <p>We want you to be completely satisfied. If you are considering cancellation, please feel free to contact to our support team.</p>
                            <p>CheapestSSLs.com guarantees its quality with a full replacement or refund of all products. We issue a store credit or refund upon request by the account holder anytime up to 30 days after product issuance.</p>
                            <p>To get a store credit or refund, the account holder should fill out our online form. Please note that while a store credit can be processed very quickly, a refund may take up to 72 hours to process.</p>
  
                          </div>
                    </div>
                    
                </div>
                @Html.Partial("_rightpanel", (Model != null && !string.IsNullOrEmpty(Model.CurrentUserName) ? Model.CurrentUserName : ""))
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
