@using WBSSLStore.Domain;
@using WBSSLStore.Data.Infrastructure;
@using WBSSLStore.Web.Util; 
@{
    WBSiteSettings settings=new WBSiteSettings(WBSSLStore.Web.Helpers.Caching.SiteCacher.CurrentSite);

    var _testimonial = DependencyResolver.Current.GetService<IRepository<Testimonials>>();
    var testimonials = _testimonial.Find(t => t.SiteID == settings.SiteID && (t.RecordStatusID == (int)TestimonialStatus.ACTIVE || t.RecordStatusID == (int)TestimonialStatus.SHOWINPAGE)).OrderByDescending(t => t.ID);


    ViewBag.Title = "Testimonials";

    string username = ViewBag.UserName;
}

@section headerTags{
   
}

}
@section sitecss{

}
@section Jscripts{
}

@Html.Partial("_banner", new Tuple<string, string>("", "Testimonials"))
<div class="content">
    <div class="wrapper">
        <div class="column3">
            <div class="mobtopcol">
                <div class="column3-2">
                    <div class="cmnpagewrap">
                        @if (testimonials.Count() > 0 && settings.IsTestimonials)
                        {
                            <h2>Testimonials</h2>
                            foreach (var item in testimonials)
                            {
                                <div class="testimoniwrap">
                                    <div class="testimonialtxt">
                                        <p>@Html.Raw(item.Description)</p>
                                    </div>
                                    <p class="author">@Html.Raw(item.Signature.Replace("\n", "</br>"))</p>
                                </div>
                            }
                        }
                    </div>
                </div>
                @Html.Partial("_rightpanel", username)
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

@{
    settings = null;
}

