<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="EntityFramework.SqlMigrations" version="0.5.10727.0" />
  <package id="jQuery" version="2.2.2" targetFramework="net46" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net46" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="MvcScaffolding" version="1.0.9" targetFramework="net46" />
  <package id="MvcValidationExtensions" version="1.1.4.0" targetFramework="net46" />
  <package id="T4Scaffolding" version="1.0.8" targetFramework="net451" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net46" />
</packages>