@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
      var productdetails = WBSSLStore.Web.Helpers.WBHelper.GetProductDetailRows();
    string brand = Model != null && Model.Items != null && Model.Items.FirstOrDefault().Product != null && Model.Items.FirstOrDefault().Product.Brand != null ? Model.Items.FirstOrDefault().Product.Brand.BrandName : "";
    string username = ViewBag.UserName;
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@Html.Partial("_banner", new Tuple<string, string>("", "SSL Brands"))
<div class="content">
  <div class="wrapper">
    <div class="column3">
      <div class="mobtopcol">
        <div class="column3-2">
          <div class="prodetailswrap marzerotop"> @Html.Partial("_ProdPricing", new Tuple<List<WBSSLStore.Domain.ProductPricing>, List<WBSSLStore.Domain.ProductDetail>>(Model.Items.ToList(), productdetails.ToList())) </div>
          <div class="prodescrip marzerotop">
            <div class="prodescriptxt">
              <h2>Product Description</h2>
              <p>Looking for a way to quickly and easily get the valued "https" displayed on a main domain and all of your subdomains? Then the Comodo Positive SSL Wildcard is the certificate for you. <strong>Speed and reliability</strong> are two adjectives that come to mind when describing this certificate. That's because this wildcard certificate is a basic, Domain Validated (DV) certificate and can be issued in mere minutes. Also, with 99.3% browser recognition and solid mobile compatibility, the Comodo Positive SSL Wildcard can be relied on by most light ecommerce websites.</p>
            </div>
          </div>
          <div id="cssmenu">
            <ul class="accordion_example">
              <li class="brand-symantec acc_active">
                <div>
                  <p>Assurance &amp; Authentication</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>This is a standard, Domain Validated (DV) wildcard certificate. The main benefit of this is that the Comodo Positive SSL Wildcard can be issued almost immediately, since ownership of the domain is all that needs to be verified. This certificate also comes with a static "Comodo Secure" site seal, which will help prove to online customers that your website is reputable and safe to do business with.</p>
                  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Security &amp; Encryption</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Comodo Positive SSL Wildcard is a standard 128-bit &amp; 256-bit certificate. This cert was designed to secure low-volume ecommerce websites along with their subdomains.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>SAN &amp; multi-domain support</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Comodo Positive SSL wildcard will protect <strong>one main domain along with an unlimited number of subdomains</strong>. This means you can protect www.domain.com and mail.domain.com, payment.domain.com, xyz.domain.com, etc.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Features &amp; Benefits</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>Secure multiple subdomains with one certificate</li>
                    <li>Domain validated certificate</li>
                    <li>2048 bit Industry Standard SSL Certificate</li>
                    <li>Trusted by all popular browsers</li>
                    <li>99.3% browser compatibility</li>
                    <li>128/256 bit encryption</li>
                    <li>Unlimited Re-issuance Policy</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Product Specifications</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>Multiple subdomains on a Single Domain Name</li>
                    <li>Issued Immediately</li>
                    <li>Domain Validation</li>
                    <li>256 bit Encryption</li>
                    <li>99.3% Browser Compatibile</li>
                    <li>Free Unlimited Server Licenses</li>
                    <li>Includes COMODO Static Site Seal</li>
                    <li>Warranty $10,000</li>
                    <li>Unlimited Reissuance</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Site Seal</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>This wildcard certificate will display the widely recognized Comodo Site Seal on your domain and subdomains so that it is immediately visible to your online visitors. This popular symbol is gaining more and more recognition on the web every day, and customers are continuing figure out that the "Comodo Secure" logo and trust go hand-in-hand. However, since this is a basic DV wildcard certificate, the Site Seal is static, which means it doesn't display any additional real-time company information.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Warranty</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Comodo Positive Wildcard SSL certificate comes with only a standard $10,000 warranty. In the unlikely event that a protected site is breached and one of your customers incurs losses as a result, you will be compensated up to $10,000 by the Certificate Authority (CA), Comodo.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        @Html.Partial("_rightpanel", username) </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
@section Jscripts{ 
<script type="text/javascript">
        $(document).ready(function () {
            // Mobile Menu
            $("#showmenu").click(function (e) {
                e.preventDefault();
                $("#menu").toggleClass("show");
            });
            $("#menu a").click(function (event) {
                event.preventDefault();
                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
            $(document).click(function (e) {
                if (!$(e.target).is(".mobmemu, .mobmemu  *")) { $("#menu").toggleClass("hide"); $("#menu").removeClass("show"); }
            });
            $(".accordion_example").smk_Accordion();
        });
    </script> 
} 