@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
      var productdetails = WBSSLStore.Web.Helpers.WBHelper.GetProductDetailRows();
    string brand = Model != null && Model.Items != null && Model.Items.FirstOrDefault().Product != null && Model.Items.FirstOrDefault().Product.Brand != null ? Model.Items.FirstOrDefault().Product.Brand.BrandName : "";
    string username = ViewBag.UserName;
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@Html.Partial("_banner", new Tuple<string, string>("", "SSL Brands"))
<div class="content">
  <div class="wrapper">
    <div class="column3">
      <div class="mobtopcol">
        <div class="column3-2">
          <div class="prodetailswrap marzerotop"> @Html.Partial("_ProdPricing", new Tuple<List<WBSSLStore.Domain.ProductPricing>, List<WBSSLStore.Domain.ProductDetail>>(Model.Items.ToList(), productdetails.ToList())) </div>
          <div class="prodescrip marzerotop">
            <div class="prodescriptxt">
              <h2>Product Description</h2>
              <p>One of the most unique certificates in the industry, the <strong>Multiple Domain Wildcard SSL Certificates by Comodo</strong> can secure an unlimited number of sub-domains under multiple domains. This SAN enabled wildcard certificate is an excellent choice for companies that have a lot of domain names on the same server, as it allows you to secure any domain or common name using just one certificate. With three domain names already included in the package, you can now add up to 100 additional domain names. The Comodo Multi-Domain Wildcard SSL is a very cost-effective option and helps you simplify the website security administration by consolidating sub-domains on a single certificate.</p>
            </div>
          </div>
          <div id="cssmenu">
            <ul class="accordion_example">
              <li class="brand-symantec acc_active">
                <div>
                  <p>Assurance &amp; Authentication</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>Being an Organization Validated certificate, Comodo Multiple Domain Wildcard SSL offers a fundamental level of assurance to website users by displaying visual cues of reliability like an https hyperlink and a yellow padlock symbol. It is very economical and easy to install. The validation process can usually be completed in a matter of just few minutes.</p>
                  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Security &amp; Encryption</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Comodo Multi-Domain Wildcard SSL certificate offers the highest level of security – 2048 bit digital signatures and up to 256 bit encryption is standard.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>SAN &amp; multi-domain support</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>These certificates are SAN supported and can <strong>secure unlimited sub-domains under multiple domains</strong>. You can add up to 100 additional domains to the certificate at a very economical price. Three domains are already included in the standard package.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Features &amp; Benefits</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>SAN option enabled</li>
                    <li>Save time and money by securing unlimited sub-domains with single certificate </li>
                    <li>Unlimited Re-Issuance Policy</li>
                    <li>Full Business Validation</li>
                    <li>Licensed for unlimited sub-domains on an unlimited number of physical servers</li>
                    <li>Trusted by 99.9% major browsers and mobile devices</li>
                    <li>2048 bit digital signatures and encryption strength up to 256-bit &ndash; Highest level of SSL security</li>
                    <li>3 Domain names already included in package</li>
                    <li>1 year free PCI scanning service, 1 year free daily website vulnerability scanning</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Product Specifications</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>Secures all domains on your shared hosting environment with one certificate but server needs to support SNI</li>
                    <li>Issued in Couple of Days</li>
                    <li>Free Re-Issuance</li>
                    <li>99.9% browser and mobile device recognition</li>
                    <li>Free Unlimited Server Licensing</li>
                    <li>100 additional domains can be added</li>
                    <li>Can be installed on different IPs</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Site Seal</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>Since this is an Organization Validated (OV) certificate, it comes with a dynamic Comodo Secure Site Seal. Dynamic means that the site seal is clickable, so your online shoppers can click on the seal and see real-time verified information about your company.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        @Html.Partial("_rightpanel", username) </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
@section Jscripts{ 
<script type="text/javascript">
        $(document).ready(function () {
            // Mobile Menu
            $("#showmenu").click(function (e) {
                e.preventDefault();
                $("#menu").toggleClass("show");
            });
            $("#menu a").click(function (event) {
                event.preventDefault();
                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
            $(document).click(function (e) {
                if (!$(e.target).is(".mobmemu, .mobmemu  *")) { $("#menu").toggleClass("hide"); $("#menu").removeClass("show"); }
            });
            $(".accordion_example").smk_Accordion();
        });
    </script> 
} 