@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
      var productdetails = WBSSLStore.Web.Helpers.WBHelper.GetProductDetailRows();
    string brand = Model != null && Model.Items != null && Model.Items.FirstOrDefault().Product != null && Model.Items.FirstOrDefault().Product.Brand != null ? Model.Items.FirstOrDefault().Product.Brand.BrandName : "";
    string username = ViewBag.UserName;
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@Html.Partial("_banner", new Tuple<string, string>("", "SSL Brands"))
<div class="content">
  <div class="wrapper">
    <div class="column3">
      <div class="mobtopcol">
        <div class="column3-2">
          <div class="prodetailswrap marzerotop"> @Html.Partial("_ProdPricing", new Tuple<List<WBSSLStore.Domain.ProductPricing>, List<WBSSLStore.Domain.ProductDetail>>(Model.Items.ToList(), productdetails.ToList())) </div>
          <div class="prodescrip marzerotop">
            <div class="prodescriptxt">
              <h2>Product Description</h2>
              <p>If you need to secure multiple domains on your company's website, the <strong>GeoTrust True BusinessID Multi-Domain SSL certificate</strong> is an excellent choice. GeoTrust is one of the leading brands in the SSL industry, and this multi-domain certificate will enable strong 256-bit encryption for up to 100 domains. This certificate comes standard with 5 total domains, and customers have the ability to add up to 95 additional domains. Also, this certificate offers <strong>full business validation</strong>, so your online customers will know that you went the extra mile to prove to them that you are who you say you are. The GeoTrust True BusinessID multi-domain certificate is perfect for small-to-medium businesses that put a high value on customer trust.</p>
            </div>
          </div>
          <div id="cssmenu">
            <ul class="accordion_example">
              <li class="brand-symantec acc_active">
                <div>
                  <p>Assurance &amp; Authentication</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>This is an Organization Validated (OV) SSL certificate. It typically takes between 1-2 business days for this certificate to be issued, as companies first need to complete a mild vetting process conducted by GeoTrust. Once the process is completed and the certificate is issued, your online customers will instantly feel comfortable conducting business on your site, as they will quickly notice the https in your URL, the secure padlock symbol in the address bar, and the GeoTrust Site Seal on your website, which displays <strong>dynamic, time-stamped information</strong> about your company.</p>
                  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Security &amp; Encryption</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The GeoTrust&reg; True BusinessID multi-domain offers the highest encryption, 256-bit, and is signed with the industry standard 2048-bit root. Every domain protected by this certificate will be encrypted with the same strength.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>SAN &amp; multi-domain support</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>This certificate supports multiple domains, allowing you to <strong>secure up to 100 domains</strong> on one single SSL. The GeoTrust True BusinessID multi-domain comes standard with 4 additional domains, meaning 5 total domains. You can also select additional domains up to 100. Each domain will get the same level of encryption, root strength, and activated trust indicators.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Features &amp; Benefits</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>Secure up to 100 Names in a Single SSL Certificate</li>
                    <li>High 256-bit encryption 2048 bit root Certificate</li>
                    <li>Full business validation</li>
                    <li>FREE lifetime, self-service reissues</li>
                    <li>Includes a True Site identity assurance Smart Seal - embedded organization name /date/time stamp</li>
                    <li>Compatible with 99%+ current browsers</li>
                    <li>Present in 99%+ of mobile devices and smart phones</li>
                    <li>Unlimited Server Licenses at no extra cost + Secure www &amp; non-www domains</li>
                    <li>$1,250,000 Warranty</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Product Specifications</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                    <li>up to 100 domain names</li>
                    <li>Issued In 1-2 working days</li>
                    <li>Domain and Organization Validation</li>
                    <li>Domain Name Shown On Certificate Only</li>
                    <li>Encryption Strength Up to 256-bit</li>
                    <li>99% Browser Compatibility</li>
                    <li>Site Seal Included</li>
                    <li>Unlimited &ndash; Install on any number of servers</li>
                    <li>FREE self-service reissues during validity period</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Site Seal</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The renowned GeoTrust&reg; Site Seal embeds the organization name and date, along with a time stamp. This site seal goes <strong>far beyond</strong> just standard company information offered in site seals from similar-priced SSL certificates. Being an OV certificate, the GeoTrust True BusinessID multi-domain will assure your online visitors that your company is a legitimate operation and safe to conduct business with. </p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Warranty</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>This SSL certificate is backed by a $1,250,000 USD warranty. So, your customers won't need to worry about improper validation or issuance to a fraud site by GeoTrust, because the end user would be compensated up to $1,250,000 for any damages or losses.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        @Html.Partial("_rightpanel", username) </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
@section Jscripts{ 
<script type="text/javascript">
        $(document).ready(function () {
            // Mobile Menu
            $("#showmenu").click(function (e) {
                e.preventDefault();
                $("#menu").toggleClass("show");
            });
            $("#menu a").click(function (event) {
                event.preventDefault();
                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
            $(document).click(function (e) {
                if (!$(e.target).is(".mobmemu, .mobmemu  *")) { $("#menu").toggleClass("hide"); $("#menu").removeClass("show"); }
            });
            $(".accordion_example").smk_Accordion();
        });
    </script> 
} 