@model WBSSLStore.Service.ViewModels.StaticPageViewModel
@{
    var productdetails = WBSSLStore.Web.Helpers.WBHelper.GetProductDetailRows();
    string brand = Model != null && Model.Items != null && Model.Items.FirstOrDefault().Product != null && Model.Items.FirstOrDefault().Product.Brand != null ? Model.Items.FirstOrDefault().Product.Brand.BrandName : "";
    string username = ViewBag.UserName;
}
@section headerTags{
    @Html.Partial("_renderSEO", Model != null && Model.CMSPage != null ? Model.CMSPage : new WBSSLStore.Domain.CMSPage())
}
@Html.Partial("_banner", new Tuple<string, string>("", "SSL Brands"))
<div class="content">
  <div class="wrapper">
    <div class="column3">
      <div class="mobtopcol">
        <div class="column3-2">
          <div class="prodetailswrap marzerotop"> @Html.Partial("_ProdPricing", new Tuple<List<WBSSLStore.Domain.ProductPricing>, List<WBSSLStore.Domain.ProductDetail>>(Model.Items.ToList(), productdetails.ToList())) </div>
          <div class="prodescrip marzerotop">
            <div class="prodescriptxt">
              <h2>Product Description</h2>
              <p>Symantec&trade; is the most trusted web security company in the world, and their SSL/TLS certificates proudly display the highly recognizable Norton™ Secured Seal on every site they protect. The Symantec Secure Site Multi-Domain Wildcard is one of the most versatile, feature-rich Organization Validated (OV) certificates in the entire SSL industry. The Symantec Secure Site Multi-Domain Wildcard comes bundled with a Wildcard SAN, giving you the flexibility to secure an unlimited number of Sub-Domains that accompany your main domain. Additional WC SANs can be purchased as well giving this SSL Certificate the flexibility to cover your entire portfolio of sites. Best of all, this Certificate offers the highest possible encryption strength, daily malware scanning and a NetSure Warranty of $1,500,000. The Symantec Secure Site Multi-Domain Wildcard is one of the most comprehensive security solutions on the market today.</p>
            </div>
          </div>
          <div id="cssmenu">
            <ul class="accordion_example">
              <li class="brand-symantec acc_active">
                <div>
                  <p>Assurance &amp; Authentication</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The 99.9% Browser Recognition Rate eliminates any customer inconvenience while the Norton™ logo will immediately increase customer confidence because of its prominence on the web. In fact, The Norton seal gets around 800 million impressions per day across 165 countries. As an Organization Validated (OV) certificate, a company vetting process needs to be completed before the SSL is issued, and this process is typically completed in 1-3 days.</p>
                  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Security &amp; Encryption</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Secure Site Multi-Domain Wildcard is available in encryption levels from 40-bit to 256-bit, which allows web security administrators to choose select the level of protection that best suits their needs. Also, daily malware scans will help continue to maintain the integrity of your website.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>SAN &amp; multi-domain support</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The Symantec Secure Site Multi-Domain Wildcard includes one Wildcard SAN by default, which will allow you to secure the Sub-Domains that accompany your FQDN, or if necessary, a regular non-Wildcard SAN. If needed, additional Wildcard SANs can be purchased, allowing you to encrypt multiple domains and their Sub-Domains. This single certificate is capable of securing up to 25 domain names, in addition to any accompanying Sub-Domains, making it one of the most versatile products available.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Features &amp; Benefits</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                      <li>Secure Site Multi-Domain Wildcard SSL is a fully Business Validated Certificate</li>
                      <li>Symantec Secure Site Multi-Domain Wildcard covers both www &amp; non-www versions. </li>
                      <li>Full business authentication</li>
                      <li>40-bit to 256-bit Encryption</li>
                      <li>Comes with one FREE Wildcard SAN</li>
                      <li>Secure up to 25 Domains and accompanying Sub-Domains</li>
                      <li><strong>Norton&trade; Secured Seal</strong></li>
                      <li><strong>Free Installation Checker</strong></li>
                      <li>Symantec Secure Site Multi-Domain Wildcard SSL carries warranty of $1,500,000</li>
                      <li>Includes Reissuance Insurance</li>
                      <li>99.9% Browser Recognition Rate</li>
                      <li>Supports Mobile Devices</li>
                      <li>Norton™ Daily Malware Scanning (Behavioral/Predictive)</li>
                      <li>Unlimited &amp; FREE Self-Service Reissues</li>
                      <li>Customer Portal to Manage your New and Existing Orders</li>
                      <li>FREE 24/7 Technical Support</li>
                      <li>FREE Installation Guidelines</li>
                      <li>30 Day Money Back Guarantee!</li>
                      <li>SAN hosts allowed different domains</li>
                      <li>Supports 2 encryption algorithms, RSA and DSA</li>
                      <li>Secure Multiple Domains on a Single IP Address**</li>
                  </ul>
				  <div class="clear"></div>
                  <p class="notesml">** Applicable to a server that supports SNI (Server Name Indication)</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Product Specifications</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <ul class="featurelist">
                      <li>This certificate secures the www &amp; non-www version of the Common Name and up to 24 additional Wildcard SANs</li>
                      <li>Issued In 1-3 Days</li>
                      <li>Organization Validated</li>
                      <li>Domain Name and Business Name Shown On Certificate</li>
                      <li>Encryption Strength Up to 40-bit minimum, 256-bit maximum</li>
                      <li>99.9% Browser Compatibility</li>
                      <li>Site Seal Included</li>
                      <li>Single Server - Additional server licenses may be purchased</li>
                      <li>Uses Chained Certificates (since all certs have intermediates)</li>
                      <li>FREE self-service reissues during validity period</li>
                      <li>FREE Wildcard SAN Included</li>
                  </ul>
				  <div class="clear"></div>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Site Seal</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>With the Norton&trade; Secured Site Seal receiving around 800 million impressions a day over 165 countries, you can feel confident that this widely known and esteemed symbol will be recognized and trusted by a large majority of your customers immediately upon visiting your web page.</p>
                </div>
              </li>
              <li class="brand-symantec">
                <div>
                  <p>Warranty</p>
                  <div class="clear"></div>
                </div>
                <div>
                  <p>The largest industry warranty offered at $1,500,000 (among non-EV, non-SGC certificates). Plus, reissuance insurance and a free installation checker make purchasing this certificate ascomfortable as installing it. Symantec™ also includes the NetSure&trade; Protection Plan which protects SSL certificate customers from certain losses incurred as a result of a breach by Symantec&trade; of the warranties included.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        @Html.Partial("_rightpanel", username) </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
@section Jscripts{ 
<script type="text/javascript">
        $(document).ready(function () {
            // Mobile Menu
            $("#showmenu").click(function (e) {
                e.preventDefault();
                $("#menu").toggleClass("show");
            });
            $("#menu a").click(function (event) {
                event.preventDefault();
                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
            $(document).click(function (e) {
                if (!$(e.target).is(".mobmemu, .mobmemu  *")) { $("#menu").toggleClass("hide"); $("#menu").removeClass("show"); }
            });
            $(".accordion_example").smk_Accordion();
        });
    </script> 
} 