/*---------- Header ----------- */
.header-top{background:#363e4c; height:30px;}
.topnav{float:right;}
.topnav ul{float:left;}
.topnav ul li{float:left;}
.topnav ul li + li{margin-left:10px;}
.topnav ul li a{font-weight:bold; color:#FFF; line-height:20px; padding:5px; display:block;}
.topnav ul li a .icon{margin-right:5px; display:inline-block; height:20px;}
.topnav ul li.support a{background:#3792cb; padding:5px 7px;}

.search{float:left; margin:6px 0 6px 0;}
.search input{height:18px; border:none; background:url(/content/images/ico-search.png) no-repeat right 7px top 3px #FFF; padding:3px 25px 3px 7px; box-sizing:border-box; color:#b2b3b3; font-size:12px;}

.headermain{padding:15px 0; background:#FFF;}
.logo{float:left;}
.logo a{float:left;}
.logo span{border-left:1px solid #b3b5b8; padding:15px 0 15px 10px; margin:20px 0 0 10px; float:left; color:#b3b5b8;}
.logo span label{color:#20994a;}

.navigation{float:right; margin-top:24px;}
.navigation ul{float:left;}
.navigation ul li{float:left; font-size:14px; font-family:'oswaldM'; text-transform:uppercase;}
.navigation ul li + li{margin-left:20px;}
.navigation ul li a{color:#4a5569;}
.navigation ul li a.grnarrow{background:url(/content/images/submenu-arrow.png) no-repeat right 2px; padding-right:10px; display:block;}

.navigation ul li .submenu{position:absolute; display:none; padding-top:15px; z-index:9999;}
.navigation li:hover .submenu{display:block;}
.navigation .submenu ul{min-width:150px; border:1px solid #CCC; background:#FFF; position:relative;}
.navigation .submenu ul:before{content:""; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom:7px solid #CCC; position:absolute; top:-7px; left:15px;}
.navigation .submenu li{float:none; margin:0; font-size:13px; text-transform:none; font-family:Arial, Helvetica, sans-serif;}
.navigation .submenu li + li{border-top:1px solid #CCC;}
.navigation .submenu li a{display:block; padding:10px;}
.navigation .submenu li a:hover{background:#363e4c; color:#FFF;}

/*---------- Banner ----------- */
.banner{background:#EEEEEE; text-align:center; padding:30px 0;}


/*Inner Banner*/
.innbanner{background:eeeeee; text-align:center; color:#4e5568; padding:30px 0 23px;}
.innbanner h1{font-size:36px;}


/*=============Mobile Menu=============*/
#menu { position: fixed; background:#333; height: 100%; z-index:999; width: 280px; color: #bbb; top: 0; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; opacity: 1; overflow:auto;}
#menu ul { list-style: none; margin-top: 0; padding: 0 }
#menu ul li { border-bottom: 1px solid #2a2a2a; }
#menu ul li a { color: inherit; font-size:14px; display: block; padding: 8px 0 8px 7px; text-decoration: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}
#menu ul a i { margin-right: 10px; font-size: 18px; margin-top: 3px; width: 20px; height:10px;}
#menu ul a i[class*='fa-caret'] { float: right; }
#menu ul a:hover, #menu ul a.active { background-color:#111; color: #FFF; }
#menu ul a i.fa-caret-down {background: url("/content/images/whtarrow-down.png") no-repeat 0 3px;}
#menu ul a i.fa-caret-left {background: url("/content/images/whtarrow-up.png") no-repeat 0 3px;}

/*=============Submenu=============*/
/*#menu ul li a.active+ul { display: block }*/
#menu ul li ul { margin-top: 0; display: none; }
#menu ul li ul li { border-bottom: none; }
#menu ul li ul li a { padding-left: 30px; }
#menu ul li ul li a:hover { background-color: #1A1A1A; }
/* /Submenu */

.left { left: -280px; }
.show { left: 0; }
#showmenu{}
.mobmemu{float:right; display:none; margin-top:13px;}