
<div class="box checkouts">
    <h3>Contact Us</h3>
    <div class="contactbox">
        <h4>Your Company Name</h4>
        <p>
            302 Samedh Complex<br>
            Ahmedabad, Florida, 380015<br>
            United States<br>
            Phone: 9898989898
        </p>
    </div>
</div>
<div class="box guarantee">
    <a href="#"><img alt="Best Price Guarantee" src="/content/images/best-price-guarantee.png"></a> <a href="#">
        <img alt="100% Money Back Guarantee" src="/content/images/moneyback-guarantee.png">
    </a>
</div>