
.PagedList-pager
{
    text-align: center;
}

.PagedList-pager > ul
{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #666666;
    text-decoration: none;
}
.PagedList-pager > ul > li
{
    margin: .25em;
    display: inline-block;
    text-decoration: none;
    float:left;
}
.PagedList-pager > ul > li a
{
    color: #666666;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}
.PagedList-pager > ul > li a img
{
    vertical-align: text-bottom;
}
.PagedList-pager > ul > li a:hover
{
    color: #2365ac;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}


.PagedList-pageCountAndLocation
{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    width: 30%;
}
.PagedList-pageCountAndLocation span
{
    color: #2365ac;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.PagedList-skipToPrevious
{
    color: #666666;
    text-decoration: none;
    margin: 0 10px 0 0;
    width: 3%;
}

.PagedList-skipToFirst
{
    padding: 0px 0 0 0;
    color: #666666;
    width: 3%;
}

.PagedList-disabled
{
}

.PagedList-currentPage
{
    text-decoration: none;
    color: #666666;
}
.PagedList-skipToLast
{
    border: none;
    padding: 0px 0 0 0;
    width: 3%;
}

.PagedList-skipToPage
{
    color: #666666;
    text-decoration: none;
}
.PagedList-skipToNext
{
    border: none;
    padding: 0px 0 0 0;
    width: 3%;
}
