@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>index</title>
</head>
<body>
    <div>
      @WBSSLStore.Resources.GeneralMessage.Message.AccessDenied_Caption <a href="javascript:history.back(0);"> @WBSSLStore.Resources.GeneralMessage.Message.Go_Back_Msg_Caption</a>
    </div>
</body>
</html>
