@charset "utf-8";
/* CSS Document */

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0px;
    padding: 0px;
    background: url(../images/body-bg-rpt.jpg);
    background-repeat: repeat;
}

#wrapper
{
    width: 980px;
    margin: 0 auto;
}

.topcurve
{
    background: url(../images/order-process-topcurve.gif) top left no-repeat;
    height: 5px;
    width: 800px;
}



.centerpanel
{
    padding: 0;
    width: auto;
}

.btmcurve
{
    background: url(../images/order-process-btmcurve.gif) top left no-repeat;
    height: 5px;
    width: 800px;
}

.logo
{
    height: 50px;
    width: auto;
    text-align: center;
    margin: 10px 0;
}

.stepbox
{
    width: 186px;
    height: 35px;
    background: #ffffff;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: bold;
    padding: 20px 0 0 0;
    margin: 0 8px 15px 0;
    text-align: center;
    border: #cccccc solid 1px;
}

.stepboxactive
{
    width: 186px;
    height: 37px;
    background: #999999;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px 0 0 0;
    margin: 0 8px 15px 0;
    text-align: center;
}

.text
{
    font-size: 14px;
    line-height: 22px;
    /*text-transform: capitalize;*/
    font-family: Arial, Helvetica, sans-serif;
}
/*.headingtext {background:url(../images/billing-bg-rpt.jpg) repeat-x; line-height:50px; border:#cbcbcb solid 1px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:normal; color:#7b7b7b; font-size:24px; padding-left:10px;}*/
.headingtext
{
    background: url(../images/billing-bg-rpt.jpg) repeat-x;
    line-height: 50px;
    border: #cbcbcb solid 1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #7b7b7b;
    font-size: 24px;
    padding-left: 10px;
}

.redtext
{
    color: #FF0000;
    font-size: 12px;
    line-height: 18px;
}

.greyborder
{
    border: #cccccc dashed 1px;
}

a
{
    color: #3a3a42;
}

    a:hover
    {
        color: #3a3a42;
        text-decoration: none;
    }

.clear
{
    clear: both;
}

.norightmargin
{
    margin-right: 0 !important;
}


.otherpagebg
{
    background: url(../images/otherbg.png) repeat-x left top;
}

.headfont
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #606060;
    line-height: normal;
}

.btnormal
{
    background: url(../images/btn-rpt.png) repeat-x;
    padding: 5px 15px;
    font-size: 22px;
    color: #FFF;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    margin-right: 5px;
    line-height: 25px;
    border: none;
    cursor: pointer;
}

label
{
    cursor: pointer;
}

/*Footer*/
.footerbar
{
    background: url(../images/footerbg.png) repeat-x left top;
    color: #8f8f8f;
    font-size: 12px;
    border: #cbcbcb solid 1px;
    border-top: none!important;
}

.footertxt
{
}

/*16-08-2012*/
.hdr
{
    border: #bdbcbd 1px solid;
    border-top: none !important;
    border-bottom: none !important;
    height: 113px;
    padding: 15px;
    background: #FFF;
}

/*.nav{background:url(../images/nav-bg-rpt.png) repeat-x; line-height:52px; border:#bebdbe solid 1px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:normal; color:#606060; font-size:24px; padding-left:10px; border-top:none;}*/
.nav
{
    background: url(../images/nav-bg-rpt.png) repeat-x;
    line-height: 52px;
    border: #bebdbe solid 1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #606060;
    font-size: 24px;
    padding-left: 10px;
    border-top: none;
    margin-bottom: 25px;
}

/*.boxbg{border:#cbcbcb solid 1px; background:#FFF; border-top:none!important;}*/
.martoptwenty
{
    margin: 15px auto !important;
}
/*.txtfeild{width:375px; height:25px; line-height:22px; margin:5px 0 0px;}*/

.smalltxt
{
    width: 100px !important;
}

.smalltxt60
{
    width: 60px !important;
}

.txtitalic
{
    font-style: italic;
    font-size: 12px;
    color: #a3a3a3;
}

.creditcard
{
    background: #ececec;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #7b7b7b;
    font-size: 20px;
    text-transform: uppercase;
    width: 300px;
    float: left;
    line-height: 30px;
    padding: 5px 10px;
    margin: 20px 0;
}

.cardbtn
{
    background: #606060;
    padding: 5px 15px;
    font-size: 16px;
    color: #FFF;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
    line-height: 39px;
    border: none;
}

label
{
    cursor: pointer;
}

.cardbtndeactive
{
    background: #afafaf;
    padding: 5px 15px;
    font-size: 16px;
    color: #FFF;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
    line-height: 39px;
    border: none;
}

label
{
    cursor: pointer;
}

/*Right Panel*/
.rightbox
{
    background: #f3f3f3;
    border: #cbcbcb solid 1px;
    border-top: none!important;
    border-bottom: none!important;
}

.righthdr
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    background: #606060;
    padding: 5px 15px;
    line-height: 40px;
}

.prosumarytitle
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #595c5b;
    margin-right: 15px;
    line-height: 30px;
}

.othertxt
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6d6d6d;
    text-transform: capitalize;
    line-height: 22px;
}

.othertxtitalic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6d6d6d;
    text-transform: capitalize;
    font-style: italic;
    line-height: 18px;
}

.rightpnltotal
{
    background: url(../images/footerbg.png) repeat-x left top;
    color: #4d4f4b;
    font-size: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.promocodetxt
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 16px;
    padding-right: 25px;
    line-height: 45px;
}

.rightpnlbdr
{
    border-bottom: #6d6d6d 1px dashed;
}

.orngtxt
{
    color: #d2623e;
}

.brdlftritnone
{
    border-left: none !important;
    border-right: none !important;
}

.billingleft
{
    background: #f3f4f5;
    padding: 15px;
    border: #CCC solid 1px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.billingright
{
    background: #eaeaea;
    padding: 15px;
    border: #CCC solid 1px;
    border-left: none;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.rawtitletxt
{
    background: #606060;
    line-height: 40px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

.rawonetxt
{
    line-height: 40px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: #CCC solid 1px;
}

.rawtwotxt
{
    backgroung: #f3f4f5 !important;
    line-height: 40px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: #CCC solid 1px;
}

.padlft15
{
    padding-left: 15px;
}


/*Added by veeral*/
#contenter
{
    margin: 0;
}

.header
{
    border: #bdbcbd 1px solid;
    border-top: none !important;
    border-bottom: none !important;
    height: auto;
    padding: 15px;
    background: #FFF;
}
/*#rightpnl{width:398px; float:right; margin-top:5px;}*/
#rightpnl
{
    width: 398px;
    float: right;
}

.righttitle
{
    line-height: 50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    font-size: 26px;
    padding-left: 10px;
    background: #606060;
}

.rightbox
{
    border: #cbcbcb solid 1px;
    background: #f3f3f3;
    border-top: none;
    padding: 10px;
}

.rightboxtxt
{
    font-family: Arial, Helvetica, sans-serif;
    color: #6d6d6d;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    float: left;
    width: 275px;
}

.pricetxt
{
    color: #d2623e;
}

.txtitalic
{
    font-family: Arial, Helvetica, sans-serif;
    color: #6d6d6d;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.icon
{
    float: left;
    margin-left: 10px;
}

.deleteico
{
    margin-left: 20px !important;
    margin-top: 5px;
}

.rightboxcnt
{
    border-bottom: #6d6d6d dotted 1px;
    width: 100%;
    padding: 10px 0;
    float: left;
}

.total
{
    background: url(../images/totalbg.png) repeat-x;
    border: #cecece 1px solid;
    border-top: none !important;
    line-height: 64px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #4d4f4b;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.promocode
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
    text-transform: uppercase;
}

.footer
{
    background: url(../images/footer-bg.png) repeat-x;
    bborder: #cecece 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 54px;
}


/*.billingbox{  width:559px; float:left;  margin:20px 21px 25px 0;}*/
.billingbox
{
    width: 550px;
    float: left;
    margin: 0px 21px 25px 0;
    float: left;
}

.billingboxbg
{
    background: #FFF;
}

.txtfeild
{
    height: 25px;
    line-height: 22px;
    margin: 5px 0 0px;
    background: #f1f2f3;
    border: #ced3d6 1px solid;
}

.biginput
{
    width: 375px;
}

.wid190
{
    width: 190px;
}

.wid130
{
    width: 130px;
}

.wid250
{
    width: 250px;
}
.in90px
{
       width: 90px;
}

.inputbox
{
    height: 25px;
    line-height: 22px;
    margin: 5px 0 0px;
    background: #f1f2f3;
    border: #ced3d6 1px solid;
}

.txtareaheight
{
    height:400px !important;
    width:525px;
}

.floatleft
{
    float: left;
}

.leftpadding
{
    padding-left: 21px;
}

.tdbodybg
{
    background: url(../images/body-bg-rpt.jpg);
    background-repeat: repeat;
    border: none;
}

.diplaynone
{
    display: none;
}

.backgroundPopup
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 100;
}

#frmSetting label.error
{
    margin-left: 10px;
    width: auto;
    display: inline;
    color: Red;
}

#frmSetting_topics label.error
{
    display: none;
    margin-left: 103px;
}

.error, .field-validation-error
{
    color: Red;
}

.errormsg
{
    padding: 3px;
    background-color: #ffe6e6;
    border: dotted 2px #ccc;
    padding-left: 25px;
    color: #c00;
    width: 93%;
}

.floatlft
{
    float: left;
}

.floatrgtGeo
{
    float: right;
    padding-top: 53px;
}

.mybutton
{
    display: block;
    background: transparent url(../images/searchright.png) no-repeat top right;
    height: 99px; /*padding:53px 5px 0 88px;*/
    font-size: 24px;
    font-weight: bold;
    color: #272727;
    text-decoration: none;
}

    .mybutton span
    {
        background: transparent url(../images/secureleft.png) no-repeat top left;
        display: block;
        padding: 53px 5px 0 88px;
        height: 46px;
    }

.RemoveLink
{
    cursor: pointer;
}

.borderAddfund
{
    border: #d6d6d6 1px solid;
    border-top: none;
}

.buttonnew
{
    background: url("../images/btn-rpt.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 25px;
    margin-right: 5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.cvv
{
    background: #FFFFFF;
    border: solid 1px #cccccc;
    padding: 2px 2px 2px 2px;
    font-size: 12px;
    color: #666666;
}









.boxbg
{
    background: #FFF;
    border: #cbcbcb solid 1px;
    border-top: none;
}

.bdrtop
{
    border-top: #cbcbcb solid 1px;
}
