@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Moneybookers Wait</title>
    <meta http-equiv="refresh" content="5;url=@Request.Url.AbsoluteUri" />
</head>
<body>
    <div style="position: fixed; opacity: 0.7;">
        <div style="margin-top: 25%; margin-left: 50%; text-align: center;">
            <img src='/secure/Areas/Checkout/content/images/loadingnew.gif' /><br />
            @WBSSLStore.Resources.GeneralMessage.Message.Paypal_Wait_msg1_Caption
            <br />
            (@WBSSLStore.Resources.GeneralMessage.Message.Paypal_Wait_msg2_Caption.)</div>
    </div>
</body>
</html>
