
@section headerTags{
    @Html.Partial("_renderSEO", new WBSSLStore.Domain.CMSPage())
}
<div class="content">
    <div class="wrapper">
        <div class="compboxes compox4">
            <div class="evcompbox">
                <div class="comboxhead">
                    <h3>Secure Site <br> with EV </h3>
                </div>
                <div class="comboxcnt">
                    <ul>
                        <li><img src="images/compare-symantec-logo.png" alt="Symantec Logo"></li>
                        <li><span>PRICE FOR 1 YEAR</span><strong>$17.95</strong></li>
                        <li><span>PRICE FOR 2 YEARS</span><strong>$14.95 /Yr</strong></li>
                        <li><span>MULTIPLE YEAR OPTIONS</span><strong>Yes</strong></li>
                        <li><span>DOMAINS SECURED</span><strong class="height36">Single Domain Name (FQDN)</strong></li>
                        <li><span>ISSUANCE SPEED</span><strong>Immediate</strong></li>
                        <li><span>VALIDATION REQUIRED</span><strong>Domain Validation</strong></li>
                        <li><span>NOTIFICATION LEVEL IN BROWSERS</span><strong>Domain Name Shown On Certificate Only</strong></li>
                        <li><span>ENCRYPTION STRENGTH</span><strong>Up to 256 Bit</strong></li>
                        <li><span>BROWSER COMPATIBILITY</span><strong class="height36">99%</strong></li>
                        <li><span>INCLUDES SITE SEAL</span><strong> Yes </strong></li>
                        <li><span>NUMBER OF FREE REISSUES ALLOWED</span><strong>FREE self-service reissues during validity period</strong></li>
                        <li><span>SERVER LICENSE</span><strong>Unlimited Server</strong></li>
                        <li><span>SUPPORT OPTIONS</span><strong> Yes </strong></li>
                        <li><span>WARRANTY</span><strong>$10,000</strong></li>
                        <li><span>GREEN ADDRESS BAR</span><strong> NO</strong></li>
                        <li><span>REFUND POLICY </span><strong>30 Days</strong></li>
                        <li class="compmorebtn"><input class="greenbtn" type="button" value="Read More" id="button" name="button"></li>
                    </ul>
                </div>
            </div>
            <div class="evcompbox">
                <div class="comboxhead">
                    <h3>RapidSSL <br>Certificate</h3>
                </div>
                <div class="comboxcnt">
                    <ul>
                        <li><img src="images/compare-rapid-logo.png" alt="RapidSSL Logo"></li>
                        <li><span>PRICE FOR 1 YEAR</span><strong>$17.95</strong></li>
                        <li><span>PRICE FOR 2 YEARS</span><strong>$14.95 /Yr</strong></li>
                        <li><span>MULTIPLE YEAR OPTIONS</span><strong>Yes</strong></li>
                        <li><span>DOMAINS SECURED</span><strong class="height36">Single Domain Name (FQDN)</strong></li>
                        <li><span>ISSUANCE SPEED</span><strong>Immediate</strong></li>
                        <li><span>VALIDATION REQUIRED</span><strong>Domain Validation</strong></li>
                        <li><span>NOTIFICATION LEVEL IN BROWSERS</span><strong>Domain Name Shown On Certificate Only</strong></li>
                        <li><span>ENCRYPTION STRENGTH</span><strong>Up to 256 Bit</strong></li>
                        <li><span>BROWSER COMPATIBILITY</span><strong class="height36">99%</strong></li>
                        <li><span>INCLUDES SITE SEAL</span><strong> Yes </strong></li>
                        <li><span>NUMBER OF FREE REISSUES ALLOWED</span><strong>FREE self-service reissues during validity period</strong></li>
                        <li><span>SERVER LICENSE</span><strong>Unlimited Server</strong></li>
                        <li><span>SUPPORT OPTIONS</span><strong> Yes </strong></li>
                        <li><span>WARRANTY</span><strong>$10,000</strong></li>
                        <li><span>GREEN ADDRESS BAR</span><strong> NO</strong></li>
                        <li><span>REFUND POLICY </span><strong>30 Days</strong></li>
                        <li class="compmorebtn"><input class="greenbtn" type="button" value="Read More" id="button" name="button"></li>
                    </ul>
                </div>
            </div>
            <div class="evcompbox">
                <div class="comboxhead">
                    <h3>QuickSSL <br>Premium</h3>
                </div>
                <div class="comboxcnt">
                    <ul>
                        <li><img src="images/compare-geotrust-logo.png" alt="GeoTrust Logo"></li>
                        <li><span>PRICE FOR 1 YEAR</span><strong>$79.00</strong></li>
                        <li><span>PRICE FOR 2 YEARS</span><strong>$68.50 /Yr</strong></li>
                        <li><span>MULTIPLE YEAR OPTIONS</span><strong>Yes</strong></li>
                        <li><span>DOMAINS SECURED</span><strong class="height36">Secure both NON-WWW and WWW domain (FQDN)</strong></li>
                        <li><span>ISSUANCE SPEED</span><strong>Less than 10 Min</strong></li>
                        <li><span>VALIDATION REQUIRED</span><strong>Domain Validation</strong></li>
                        <li><span>NOTIFICATION LEVEL IN BROWSERS</span><strong>Domain Name Shown On Certificate Only</strong></li>
                        <li><span>ENCRYPTION STRENGTH</span><strong>Up to 256-bit</strong></li>
                        <li><span>BROWSER COMPATIBILITY</span><strong class="height36">99% + Most popular mobile devices</strong></li>
                        <li><span>INCLUDES SITE SEAL</span><strong>Yes</strong></li>
                        <li><span>NUMBER OF FREE REISSUES ALLOWED</span><strong>FREE self-service reissues during validity period</strong></li>
                        <li><span>SERVER LICENSE</span><strong>Unlimited Server</strong></li>
                        <li><span>SUPPORT OPTIONS</span><strong>Yes</strong></li>
                        <li><span>WARRANTY</span><strong>$500,000</strong></li>
                        <li><span>GREEN ADDRESS BAR</span><strong> NO</strong></li>
                        <li><span>REFUND POLICY </span><strong>30 Days</strong></li>
                        <li class="compmorebtn"><input class="greenbtn" type="button" value="Read More" id="button" name="button"></li>
                    </ul>
                </div>
            </div>
            <div class="evcompbox">
                <div class="comboxhead">
                    <h3>Thawte <br>SSL 123 </h3>
                </div>
                <div class="comboxcnt">
                    <ul>
                        <li><img src="images/compare-thawte-logo.png" alt="Thawte Logo"></li>
                        <li><span>PRICE FOR 1 YEAR</span><strong>$54.00</strong></li>
                        <li><span>PRICE FOR 2 YEARS</span><strong>$47.00/Yr</strong></li>
                        <li><span>MULTIPLE YEAR OPTIONS</span><strong>Yes</strong></li>
                        <li><span>DOMAINS SECURED</span><strong class="height36">Secures both non-www and www domains (1 FQDN)</strong></li>
                        <li><span>ISSUANCE SPEED</span><strong>Immediate</strong></li>
                        <li><span>VALIDATION REQUIRED</span><strong>Domain Validation</strong></li>
                        <li><span>NOTIFICATION LEVEL IN BROWSERS</span><strong>Domain Name Shown On Certificate Only</strong></li>
                        <li><span>ENCRYPTION STRENGTH</span><strong>Up to 256 Bit</strong></li>
                        <li><span>BROWSER COMPATIBILITY</span><strong class="height36">Browser recognition - Highest in Industry!</strong></li>
                        <li><span>INCLUDES SITE SEAL</span><strong>Yes</strong></li>
                        <li><span>NUMBER OF FREE REISSUES ALLOWED</span><strong>FREE self-service reissues during validity period</strong></li>
                        <li><span>SERVER LICENSE</span><strong>Unlimited Server License</strong></li>
                        <li><span>SUPPORT OPTIONS</span><strong>Yes</strong></li>
                        <li><span>WARRANTY</span><strong>$500,000</strong></li>
                        <li><span>GREEN ADDRESS BAR</span><strong> NO</strong></li>
                        <li><span>REFUND POLICY </span><strong>30 Days</strong></li>
                        <li class="compmorebtn"><input class="greenbtn" type="button" value="Read More" id="button" name="button"></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>